.gradient-custom {
    /* fallback for old browsers */
    background: #745f8b;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(233, 230, 230), rgb(142, 159, 236));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(191, 102, 226), rgb(253, 253, 253))
}


.form-container form .error-message{
    margin: 10px;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}
